body {
  /* remove margins and scroll bars */
  margin: 0;
  overflow: hidden;

  /* style text */
  text-align: center;
  font-size: 12px;
  font-family: Sans-Serif;

  /* color text */
  color: #444;
}

h1 {
  /* position the heading */
  position: absolute;
  width: 100%;

  /* make sure that the heading is drawn on top */
  z-index: 1;
}

#scene-container {
  /* tell our scene container to take up the full page */
  position: absolute;
  width: 100%;
  height: 100%;

  /*
    Set the container's background color to the same as the scene's
    background to prevent flashing on load
  */
  background: #4CBBB9; /* Old browsers */
  background: -moz-linear-gradient(top,  #4CBBB9 0%, #0C134F 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  #4CBBB9 0%,#0C134F 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  #4CBBB9 0%,#0C134F 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#11e8bb', endColorstr='#8200c9',GradientType=0 ); /* IE6-9 */
  overflow: hidden;
}

#title {
	position: absolute;
	top: 20px;
	width: 100%;
	text-align: center;
	display:block;
  font-size: 4em;
  color: #0C134F;
  font-style: italic;
  font-family: 'Courier New', monospace;
}

#info {
	position: absolute;
	bottom: 20px;
	left: 20px;
	text-align: left;
	z-index: 100;
	display:block;
  font-size: 2em;
  color: #4CBBB9;
}
